
@{
    ViewData["Title"] = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Company</h1>
<p>Our company strives to find every pet a loving home. We've been doing this for 30 years
    and have a long list of happy pet owners to thank. We would love for you to join that list!</p>
<img src="../images/pug.jpg" height="650" width="750" class="center" style="object-fit: cover" />
