@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to our homepage</h1>
        <p></p>
        <p>Please use the tabs on the navigation bar to travel around our website.</p>
        <p>More to come soon.</p>
    </div>
    <div class="card-group">
        <div class="card">
            <img src="../images/cat.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Is Your Pet Always Angry?</h5>
                <p class="card-text">Sometimes pets need a little extra help to find their happy place. Whether it’s a new toy or some extra playtime, we’re here to help turn that frown into a wagging tail or a purring kitty!</p>
                <p class="card-text">Click here to learn more.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="../images/dogwalk.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Keeping Active</h5>
                <p class="card-text">Staying active is key to a happy and healthy life! Whether it's daily walks, playtime, or new adventures, keeping active boosts energy and well-being.</p>
                <p class="card-text">Find out some activites and exercises you can do here.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 12 hours ago</small>
            </div>
        </div>
        <div class="card">
            <img src="../images/rabbit.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Feeding Your Pet</h5>
                <p class="card-text">Proper nutrition is essential for your pet’s health and happiness. From balanced meals to tasty treats, giving your furry friend the right fuel keeps them energetic and thriving.</p>
                <p class="card-text">Check out some ideas here.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 months ago</small>
            </div>
        </div>
    </div>
</body>
