@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our homepage</h1>
    <p></p>
    <p>Please use the tabs on the navigation bar to travel around our website.</p>
    <p>More to come soon.</p>
    <p>For now here's a picture of an angry cat:</p>
    <img src="../images/cat.jpg" height="900" width="1200" class="center" style="object-fit: cover" />

</div>
